p, table, td, th {  font-family: arial, helvetica, geneva; font-size: 10pt}
pre {  font-family: "Courier New", Courier, mono; font-size: 10pt}
h2 { font-family: arial, helvetica, geneva; font-size: 18pt; font-weight: bold ; line-height: 14px; font-size: 100%; border-bottom: 1px dotted black; }
code {  font-family: "Courier New", Courier, mono; font-size: 10pt}
sup {  font-family: arial,helvetica,geneva; font-size: 10px}

h3 {  font-family: arial, helvetica, geneva; font-size: 10pt; font-weight: bold ; color: #ffffff; background-color: #0080c0; border: 2px solid #0080c0; font-size: 100%; color: #000000; background: none; border: none; }

h4 {  font-family: arial, helvetica, geneva; font-size: 10pt; font-weight: bold ; }

li {  font-family: arial, helvetica, geneva; font-size: 10pt}
h1 {  font-family: arial, helvetica, geneva; font-size: 28px; font-weight: bold; font-size: 100%; color: #FFFFFF; background: #0080C0; padding: 2px; }

body {  
font-family: arial, helvetica, geneva; font-size: 10pt; 
clip:   rect(   ); 
margin-top: 5mm; 
margin-left: 3mm;
background-image: url('http://www.eclipse.org/proposals/templates/proposal.gif');
background-repeat: repeat-y
}
.indextop { font-size: x-large;; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold}
.indexsub { font-size: xx-small;; font-family: Arial, Helvetica, sans-serif; color: #8080FF}
a.bar:link {  text-decoration: none; color: #FFFFFF}
a.bar:visited {  color: #FFFFFF; text-decoration: none}
a.bar:hover {  color: #FFFFFF; text-decoration: underline}
a.bar {  color: #FFFFFF}
.jump { font-size: smaller;; font-family: Arial, Helvetica, sans-serif; color: #8080FF ; font-style: normal; text-decoration: none}
.jump:link { font-size: smaller;; font-family: Arial, Helvetica, sans-serif; color: #8080FF; text-decoration: none}
.jump:hover { font-size: smaller;; font-family: Arial, Helvetica, sans-serif; color: #0000FF; text-decoration: underline; font-style: normal}

p.conflictnote {  color: red; text-align: center; background: #EAEAEA; padding: 12px 12px 12px 12px; }
p.locknote { color: red; text-align: center; background: #EAEAEA; padding: 12px 12px 12px 12px; }
/* For the BreadcrumbsTag */
.breadcrumbs { font-size: 60%;  text-align: center; }
p.versionnote { color: red; font-size: 130%; text-align: center; }
p.previewnote { color: red; font-size: 100%; text-align: left; font-weight: bold }
p.small { font-size: 8pt }


#header { height: 90px; }