<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
         <wizard
            class="org.eclipse.ui.examples.statushandlers.testtool.wizards.FaultyExportWizard"
            id="org.eclipse.ui.examples.statushandlers.testtool.wizards.FaultyExportWizard"
            name="FaultyExportWizard">
      </wizard>  
   </extension>
      <extension
         point="org.eclipse.ui.actionSets">
		<actionSet
            id="org.eclipse.ui.ide.actionSet"
            label="SHMenuSet"
            visible="true">
         <menu
               id="SHMenu"
               label="SHMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.ui.examples.statushandlers.testtool.actions.ThrowOutOfMemoryAction"
               id="org.eclipse.ui.examples.statushandlers.testtool.actions.ThrowOutOfMemoryAction"
               label="Throw OutOfMemory Action"
               menubarPath="SHMenu/sampleGroup"
               >
         </action>
         <action
               class="org.eclipse.ui.examples.statushandlers.testtool.actions.ThrowNullPointerAction"
               id="org.eclipse.ui.examples.statushandlers.testtool.actions.ThrowNullPointerAction"
               label="Throw NullPointer Action"
               menubarPath="SHMenu/sampleGroup"
               >
         </action>
         <action
               class="org.eclipse.ui.examples.statushandlers.testtool.actions.OpenErrorDialogAction"
               id="org.eclipse.ui.examples.statushandlers.testtool.actions.OpenErrorDialogAction"
               label="Open ErrorDialog Action"
               menubarPath="SHMenu/sampleGroup">
         </action>
         <action
               class="org.eclipse.ui.examples.statushandlers.testtool.actions.OpenWarningDialogAction"
               id="org.eclipse.ui.examples.statushandlers.testtool.actions.OpenWarningDialogAction"
               label="Open WarningDialog Action"
               menubarPath="SHMenu/sampleGroup">
         </action>
         <action
               class="org.eclipse.ui.examples.statushandlers.testtool.actions.OpenInfoDialogAction"
               id="org.eclipse.ui.examples.statushandlers.testtool.actions.OpenInfoDialogAction"
               label="Open InfoDialog Action"
               menubarPath="SHMenu/sampleGroup">
         </action>
		</actionSet>
	</extension>
	   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui.examples.statushandlers.testtool.Status"
            class="org.eclipse.ui.examples.statushandlers.testtool.views.StatusHandlingView"
            id="org.eclipse.ui.examples.statushandlers.testtool.StatusGenerator"
            name="Status Generator">
      </view>
      <category
            id="org.eclipse.ui.examples.statushandlers.testtool.Status"
            name="Status Handling">
      </category>
      <view
            category="org.eclipse.ui.examples.statushandlers.testtool.Status"
            class="org.eclipse.ui.examples.statushandlers.testtool.views.PartInitExceptionView"
            id="org.eclipse.ui.examples.statushandlers.testtool.views.PartInitExceptionView"
            name="PartInitExceptionView">
      </view>
      <view
            category="org.eclipse.ui.examples.statushandlers.testtool.Status"
            class="org.eclipse.ui.examples.statushandlers.testtool.views.RuntimeExceptionView"
            id="org.eclipse.ui.examples.statushandlers.testtool.views.RuntimeExceptionView"
            name="RuntimeExceptionView">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ui.examples.statushandlers.testtool.views.RuntimeExceptionEditor"
            default="false"
            icon="icons/pack_empty_co.gif"
            id="org.eclipse.ui.examples.statushandlers.testtool.RuntimeExceptionEditor"
            name="RuntimeExceptionEditor">
      </editor>
      <editor
            class="org.eclipse.ui.examples.statushandlers.testtool.views.PartInitExceptionEditor"
            default="false"
            icon="icons/pack_empty_co.gif"
            id="org.eclipse.ui.examples.statushandlers.testtool.PartInitExceptionEditor"
            name="PartInitExceptionEditor">
      </editor>
   </extension>
</plugin>
