<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
         <wizard
			 category="org.eclipse.ui.Basic"
			 class="org.eclipse.ui.ide.examples.projectsnapshot.ProjectRefreshSnapshotImportWizard"
			 icon="$nl$/icons/full/etool16/newprj_wiz.gif"
			 id="org.eclipse.ui.wizards.import.ProjectRefreshSnapshot"
			 name="%ImportWizards.ProjectRefreshSnapshot">
	   </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
         <wizard
			 category="org.eclipse.ui.Basic"
			 class="org.eclipse.ui.ide.examples.projectsnapshot.ProjectRefreshSnapshotExportWizard"
			 icon="$nl$/icons/full/etool16/newprj_wiz.gif"
			 id="org.eclipse.ui.wizards.export.ProjectRefreshSnapshot"
			 name="%ExportWizards.ProjectRefreshSnapshot">
		   <selection
				 class="org.eclipse.core.resources.IProject">
		   </selection>
		   <description>
			   %ExportWizards.ProjectRefreshSnapshotDescription
		   </description>
	   </wizard>
   </extension>

</plugin>
