<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="exampleMarker"
         name="Markers Example Type"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ui.ide.examples.markers.handlers.GenerateMarkersHandler"
            id="org.eclipse.ui.ide.examples.markers.generateMarkers"
            name="Generate Example Markers">
      </command>
      <command
            defaultHandler="org.eclipse.ui.ide.examples.markers.handlers.DeleteMarkersHandler"
            id="org.eclipse.ui.ide.examples.markers.delete"
            name="Delete Example Markers">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.ide.MarkersView">
         <command
               commandId="org.eclipse.ui.ide.examples.markers.generateMarkers"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.ide.examples.markers.delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerContentGenerator
            defaultMarkerGrouping="org.eclipse.ui.ide.severity"
            id="org.eclipse.ui.ide.examples.markers.exampleGenerator"
            name="Example Contents">
         <markerFieldReference
               id="org.eclipse.ui.ide.severityAndDescriptionField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.resourceField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.locationField"
               visible="true">
         </markerFieldReference>
         <markerTypeReference
               id="org.eclipse.ui.ide.examples.markers.exampleMarker">
         </markerTypeReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.markerType"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.examples.markers.sourceID"
               visible="true">
         </markerFieldReference>
         <markerFieldFilterGrouping
               id="org.eclipse.ui.ide.examples.markers.ExampleGroup"
               name="Examples"
               scope="ON_ANY">
         </markerFieldFilterGrouping>
         <markerSupportReference
               id="org.eclipse.ui.ide.severity"
               type="markerGrouping">
         </markerSupportReference>
      </markerContentGenerator>
      <markerField
            class="org.eclipse.ui.ide.examples.markers.markerSupport.SourceIDMarkerField"
            id="org.eclipse.ui.ide.examples.markers.sourceID"
            name="Source ID">
      </markerField>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerHelp">
      <markerHelp
            helpContextId="org.eclipse.ui.ide.examples.markers.exampleHelp"
            markerType="org.eclipse.ui.ide.examples.markers.exampleMarker">
      </markerHelp>
   </extension>
   
    <extension point="org.eclipse.help.toc">
       <toc
             extradir="/html"
             file="toc.xml"
             primary="true"/>
   </extension>
    <extension
          point="org.eclipse.help.contexts">
       <contexts
             file="contexts_Example.xml">
       </contexts>
    </extension>

</plugin>
