<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="exampleMarker"
         name="Markers Example Type"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ui.ide.examples.markers.handlers.GenerateMarkersHandler"
            id="org.eclipse.ui.ide.examples.markers.generateMarkers"
            name="Generate Example Markers">
      </command>
      <command
            defaultHandler="org.eclipse.ui.ide.examples.markers.handlers.DeleteMarkersHandler"
            id="org.eclipse.ui.ide.examples.markers.delete"
            name="Delete Example Markers">
      </command>
      <command
            defaultHandler="org.eclipse.ui.ide.examples.markers.handlers.GenerateBadMarkerHandler"
            id="org.eclipse.ui.ide.examples.markers.bad"
            name="Generate malformed markers">
            
      </command>
      <command
            defaultHandler="org.eclipse.ui.ide.examples.markers.handlers.DeleteMarkersHandler"
            id="org.eclipse.ui.ide.examples.markers.bad.delete"
            name="Delete malformed markers">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.ide.MarkersView">
         <command
               commandId="org.eclipse.ui.ide.examples.markers.generateMarkers"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.ide.examples.markers.delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.ide.examples.markers.ExampleMarkersView">
         <menu
               id="org.eclipse.ui.ide.examples.filtersMenu"
               label="Show">
            <dynamic
                  class="org.eclipse.ui.internal.views.markers.FiltersContribution"
                  id="org.eclipse.ui.ide.filtersContribution">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <test
                        property="org.eclipse.ui.ide.hasFilters">
                  </test>
               </with>
            </visibleWhen>
         </menu>
         <menu
               id="exampleGroupByMenu"
               label="Group By"
               mnemonic="G">
            <dynamic
                  class="org.eclipse.ui.internal.views.markers.GroupsContribution"
                  id="org.eclipse.ui.ide.dynamic1">
            </dynamic>
         </menu>
         <menu
               id="org.eclipse.ui.ide.examples.markerSortMenu"
               label="Sort By"
               mnemonic="S">
            <dynamic
                  class="org.eclipse.ui.internal.views.markers.SortFieldContribution"
                  id="org.eclipse.ui.ide.problems.sortEntries">
            </dynamic>
         </menu>
         <command
               commandId="org.eclipse.ui.ide.configureFilters"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.window.preferences"
               label="Preferences"
               mnemonic="P"
               style="push">
            <parameter
                  name="preferencePageId"
                  value="org.eclipse.ui.ide.markers">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.views.TaskList">
         <menu
               id="org.eclipse.ui.ide.tasks.contentsMenu"
               label="%MarkerContentsMenu.Contents.name">
            <dynamic
                  class="org.eclipse.ui.internal.views.markers.ContentsContribution"
                  id="org.eclipse.ui.ide.contentsContribution">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <test
                        property="org.eclipse.ui.ide.multipleContentGenerators">
                  </test>
               </with>
            </visibleWhen>
         </menu>
         <menu
               id="org.eclipse.ui.ide.tasks.filtersMenu"
               label="%MarkerFiltersMenu.Show">
            <dynamic
                  class="org.eclipse.ui.internal.views.markers.FiltersContribution"
                  id="org.eclipse.ui.ide.filtersContribution">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <test
                        property="org.eclipse.ui.ide.hasFilters">
                  </test>
               </with>
            </visibleWhen>
         </menu>
         <menu
               id="tasksGroupByMenu"
               label="%MarkerGroupMenu.GroupBy">
            <dynamic
                  class="org.eclipse.ui.internal.views.markers.GroupsContribution"
                  id="org.eclipse.ui.ide.dynamic1">
            </dynamic>
         </menu>
         <menu
               id="org.eclipse.ui.ide.tasks.markerSortMenu"
               label="%Menu.Sort.label"
               mnemonic="%Menu.Sort.mnemonic">
            <dynamic
                  class="org.eclipse.ui.internal.views.markers.SortFieldContribution"
                  id="org.eclipse.ui.ide.tasks.sortEntries">
            </dynamic>
         </menu>
         <command
               commandId="org.eclipse.ui.ide.OpenMarkersView"
               label="%OpenAnother.Tasks"
               mnemonic="%OpenAnother.Mnemonic">
         </command>
          <command
               commandId="org.eclipse.ui.ide.configureFilters"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.window.preferences"
               label="%command.preferences.label"
               mnemonic="%command.preferences.mnemonic"
               style="push">
            <parameter
                  name="preferencePageId"
                  value="org.eclipse.ui.ide.markers">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerContentGenerator
            defaultMarkerGrouping="org.eclipse.ui.ide.severity"
            id="org.eclipse.ui.ide.examples.markers.exampleGenerator"
            name="Example Contents">
         <markerFieldReference
               id="org.eclipse.ui.ide.examples.markers.ExampleField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.resourceField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.locationField"
               visible="true">
         </markerFieldReference>
         <markerTypeReference
               id="org.eclipse.ui.ide.examples.markers.exampleMarker">
         </markerTypeReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.markerType"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.examples.markers.sourceID"
               visible="true">
         </markerFieldReference>
         <markerFieldConfiguration
               id="org.eclipse.ui.ide.examples.markers.ExampleGroup"
               name="Examples"
               scope="ON_ANY">
         </markerFieldConfiguration>
         <markerGrouping
               id="org.eclipse.ui.ide.allMarkers.severity"
               label="Example Severity">
            <markerGroupingEntry
                  id="org.eclipse.ui.ide.allmarkers.errorSeverity"
                  label="Error Stuff"
                  priority="30">
            </markerGroupingEntry>
            <markerGroupingEntry
                  id="org.eclipse.ui.ide.allmarkers.warningSeverity"
                  label="Warning Stuff"
                  priority="20">
            </markerGroupingEntry>
            <markerGroupingEntry
                  id="org.eclipse.ui.ide.allmarkers.other"
                  label="Other Stuff"
                  priority="10">
            </markerGroupingEntry>
            <markerAttributeGrouping
                  attribute="severity"
                  markerType="org.eclipse.core.resources.marker">
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.errorSeverity"
                     value="2">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.warningSeverity"
                     value="1">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                     value="0">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                     value="-1">
               </markerAttributeMapping>
            </markerAttributeGrouping>
         </markerGrouping>
      </markerContentGenerator>
      <markerField
            class="org.eclipse.ui.ide.examples.markers.markerSupport.SourceIDMarkerField"
            id="org.eclipse.ui.ide.examples.markers.sourceID"
            name="Source ID">
      </markerField>
      <markerField
            class="org.eclipse.ui.ide.examples.markers.markerSupport.ExampleMarkerField"
            id="org.eclipse.ui.ide.examples.markers.ExampleField"
            name="org.eclipse.ui.ide.examples.markers.markerField1">
      </markerField>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerHelp">
      <markerHelp
            helpContextId="org.eclipse.ui.ide.examples.markers.exampleHelp"
            markerType="org.eclipse.ui.ide.examples.markers.exampleMarker">
      </markerHelp>
   </extension>
   
    <extension point="org.eclipse.help.toc">
       <toc
             extradir="/html"
             file="toc.xml"
             primary="true"/>
   </extension>
    <extension
          point="org.eclipse.help.contexts">
       <contexts
             file="contexts_Example.xml">
       </contexts>
    </extension>
    <extension
          id="badMarker"
          name="Malformed Marker Type"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.problemmarker">
       </super>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             class="org.eclipse.ui.ide.examples.markers.ExampleMarkersView"
             id="org.eclipse.ui.ide.examples.markers.ExampleMarkersView"
             name="Example Markers">
       </view>
    </extension>
    <extension
          point="org.eclipse.ui.ide.markerResolution">
       <markerResolutionGenerator
             class="org.eclipse.ui.ide.examples.markers.markerSupport.ExampleMarkerResolutionGenerator"
             markerType="org.eclipse.ui.ide.examples.markers.exampleMarker">
       </markerResolutionGenerator>
    </extension>

</plugin>
